html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body, h1, h2 {
  font-family: Lato;
}

body {
  display: flex;
}

#container {
  border: 10px solid rgba(0,0,0,.07);
  height: 80%;
  overflow: auto;
  position: relative;
  margin: auto;
}

.cat-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.cat-tile {
  background-color: #f5f5f5;
  color: grey;
  margin: 10px;
  text-align: center;
}

.cat-tile img {
  display: block;
  width: 100%;
}

#stats {
  position: fixed;
  top: 0; left: 0;
}